extends base.pug

block content 
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr; 
    br
    a(href=`${video.id}/delete`) Delete Video &rarr; 
    //- href의 안에 /~~가 들어가면 그말대로 루트 /로부터 시작하는 url로 이동하고 / 없이 edit만 있다면 현위치의 끝부분만 바꿔준다.
    //- 즉 /~~가 absolute url, ~~가 relactive url.